.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 75%;
    margin: 10% auto;
    border: 2px dashed lightgrey;
    padding: 20px;
    background-color: white;

}

.card-container:hover {
    background-color:white;
}

.card-title {
    width: 600px;
    font-family: helvetica;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 10%;
}

.card-content p {
    margin: 2%;
    border-bottom: 1px solid white;
}

.title-and-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.timestamp {
    margin-top: 10px;
    margin-right: -15px;
    padding: 5px;
}

.author {
    padding-top: 20px;
    text-align: center;

}