.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.app-title {
    color:white;
    margin-left: 5%;
    width: 300px;
    font-size: 28px;
}
