.navbar-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.app-title {
    font-family: helvetica;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3Eb489;
    margin: 40px 0 0 40px;
    
}

.app-title-two {
    font-family: helvetica;
    font-size: 28px;
    color: #3Eb489;
    text-transform: uppercase;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3Eb489;
    margin: 0 0 0 60px;
}

.app-title-three {
    font-family: helvetica;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3Eb489;
    margin: 0 0 0 80px;
}
/* 
.nice-day {
    font-family: helvetica;
    font-size: 14px;
    color: red;
    text-transform: uppercase;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    margin: 0 0 0 250px;
} */
