.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:black;
}

.app-title {
    color: white;
    margin-left: 2%;
    font-family: 'Akaya Telivigala', cursive;

}

.app-post-button {
    margin-right: 25px;
    margin-top: 25px;
}
