.landing-page {
    background-image: url("https://res.cloudinary.com/alienora/image/upload/v1614045427/morvanic-lee-GiUJ02Yj_io-unsplash_xoqddz.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.landing-title {
    position: absolute;
    top: 25px;
    left: 30px;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
    0%{color:white}
    100%{color:black}
}

.landing-enter {
    position: absolute;
    top: 35px;
    right: 25px;
    background: transparent;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    font-size: 30px;
}

.landing-enter:hover {
    border-color: white;
    color: white;
}
  