.form-title {
    text-align: center;
    font-family: cursive;
}

.list-form form{
    display: flex;
    flex-direction: column;
}

.list-form input {
    width: 500px;
    height: 20px;
    margin: 10px auto;
}

.list-form button {
    width: 200px;
    margin: 20px auto;
}

.label-author {
    text-align: center;
}

.form-author {
    width: 200px;
}
